.container{
    background-color:red;
    width: 800px;
    margin: 50px auto;

}
.container h1{
    background-color:darkred;
    text-align: center;
    color:white;
    border:2px dashed white;

}
.form-group{
    padding-bottom: 10px;
    margin: 10px;
}
.container button{
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color:darkred;
    cursor: pointer;
    border-radius: 30px;
    color:white;
    font-size: 23px;
    border:2px dashed white;
    margin-left: 150px;


}
.container input[type=text],input[type=email],input[type=password]{
    height: 30px;
    width: 440px;
}
.container input[type=text]:focus{
    background-color: #CD214F;
    color: white;
}
.container input[type=email]:focus {
    background-color: #CD214F;
    color: white;
}
.container input[type=password]:focus {
    background-color: #CD214F;
    color: white;
}
