@font-face {
    font-family: myUnicode;
    src: url("mm3.ttf");
}

@font-face {
    font-family: myZg;
    src: url("zg.ttf");
}

.container{
    

    width: 400px;
    background: grey;
    margin: 20px auto;

}

.container h1 {
    color: orange;
    background: #1c699d;
    text-align: center;
}

